body {
  margin: 0;
  padding: 0; }

h2 {
  margin: 0; }

ul {
  list-style-type: none; }

.wrapper {
  padding-top: 70px;
  position: relative;
  background: #000; }
  .wrapper > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 30px;
    z-index: 1; }
    .wrapper > header h1 {
      display: inline-block;
      margin: 0; }
      .wrapper > header h1 a {
        color: #FFF;
        text-decoration: none; }
  .wrapper > .contents {
    min-height: 100vh; }
  .wrapper > footer {
    height: 100px;
    padding: 10px 30px;
    color: #FFF;
    background: #000; }

.nav {
  float: right; }
  .nav-list {
    padding-top: 10px;
    margin: 0;
    height: 100%;
    list-style-type: none;
    overflow: hidden; }
    .nav-list > li {
      float: left; }
    .nav-list > li + li {
      margin-left: 10px;
      padding-left: 10px; }
    .nav-list a {
      display: block;
      position: relative;
      border-radius: 5px;
      padding: 5px;
      color: #FFF;
      text-decoration: none;
      transition: all .5s ease; }
      .nav-list a::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 1px;
        background: #FFF;
        transition: all .3s ease-in-out;
        margin: 0 auto; }
      .nav-list a:hover::before {
        width: 100%;
        background: linear-gradient(to left, tomato, yellow); }

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #FFF;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10; }
  .loader p {
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 11; }

.detail {
  position: relative;
  height: 100%;
  color: #FFF;
  background: #000; }
  .detail-header {
    height: 100vh;
    background: url(/assets/image/spot1.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .detail-title {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.8);
    font-size: 3em; }
  .detail-content {
    position: absolute;
    padding: 80px 30px 30px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 70%, transparent); }

.list header {
  background: #FFF;
  color: #000;
  height: 80px;
  padding: 0 30px;
  border-bottom: 1px solid #222; }
  .list header h2 {
    margin: 0;
    line-height: 80px; }

.list-item {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 0 40px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  transition: background-size 1s ease; }
  .list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.7));
    opacity: 1;
    transition: opacity .4s ease; }
  .list-item:hover {
    background-size: 110% auto;
    text-shadow: 0 0 10px #FFF; }
  .list-item:hover::before {
    opacity: 0; }
  .list-item--bridge {
    background-image: url(/assets/image/spot1.jpg); }
  .list-item--island {
    background-image: url(/assets/image/spot2.jpg); }
  .list-item--cablecar {
    background-image: url(/assets/image/spot3.jpg); }

.list-item-title {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1em;
  line-height: 1em;
  font-size: 72px;
  font-weight: bold;
  color: #FFF; }

.top-kv {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url(/assets/image/top.jpg);
  background-size: cover;
  box-sizing: border-box; }
  .top-kv-title {
    color: #FFF;
    font-size: 60px;
    height: 1em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    text-align: center;
    margin: auto; }
  .top-kv-description {
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.6);
    padding: 40px; }

.top-section {
  width: 100%;
  padding: 100px;
  box-sizing: border-box; }
  .top-section-content {
    padding: 100px;
    background: rgba(0, 0, 0, 0.6);
    margin: 100px; }
  .top-section-description {
    font-size: 14px;
    line-height: 1.8em; }
  .top-section--second {
    color: #FFF;
    background-image: url(/assets/image/top2.jpg);
    background-size: cover; }
  .top-section--third {
    color: #FFF;
    background-image: url(/assets/image/top3.jpg); }
