<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bundle.css"/>
</head>
<body>
  <main class="detail js-spw-template">
    <section>
      <header class="detail-header">
        <div>
          <h2 class="detail-title">Golden Gate Bridge</h2>
        </div>
      </header>
      <div class="detail-content">
        <p>
        ゴールデン・ゲート・ブリッジ（英: Golden Gate Bridge）、金門橋（きんもんきょう）は、アメリカ西海岸のサンフランシスコ湾と太平洋が接続するゴールデン・ゲート海峡に架かる吊り橋。
主塔の間の長さ（中央径間、支間）が1,280メートル、全長2,737メートル。主塔の高さは水面から227メートル。
橋の建設は1933年に始まり、1937年に完成した。1964年にニューヨークのヴェラザノ・ナローズ橋が完成するまでスパン世界一の吊り橋であった他、スパン世界一であった期間が記録に残っている中で最も長かった(27年)橋でもある。建設費は2,700万ドル。
        </p>
      </div>
    </section>
  </main>
</body>
</html>