<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Sanfrancisco Spots</title>
  <link rel="stylesheet" href="/assets/css/bundle.css"/>
</head>
<body>
  <main class="list js-spw-template">
    <section>
      <div>
        <section class="list-item list-item--bridge">
          <a href="detail.html" class="js-spw-trigger">
            <div>
              <h3 class="list-item-title">Golden Gate Bridge</h3>
            </div>
          </a>
        </section>
        <section class="list-item list-item--island">
          <div>
            <h3 class="list-item-title">Alcatraz Island</h3>
          </div>
        </section>
        <section class="list-item list-item--cablecar">
          <div>
            <h3 class="list-item-title">Cable Car</h3>
          </div>
        </section>
      </div>
    </section>
  </main>
</body>
</html>