<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Top</title>
  <link rel="stylesheet" href="/assets/css/bundle.css"/>
</head>
<body>
  <main class="js-spw-template">
    <section class="top-kv">
      <h2 class="top-kv-title">Sanfrancisco is Great!</h2>
    </section>
    <section class="top-section top-section--second">
      <div class="top-section-content">
        <h2 class="top-section-title">Why am I Sanfrancisco?</h2>
        <p class="top-section-description">
          San Francisco (Spanish for Saint Francis) was founded on June 29, 1776, when colonists from Spain established Presidio of San Francisco at the Golden Gate and Mission San Francisco de Asís named for St. Francis of Assisi a few miles away.[8] The California Gold Rush of 1849 brought rapid growth, making it the largest city on the West Coast at the time. San Francisco became a consolidated city-county in 1856.
        </p>
      </div>
    </section>
    <section class="top-section top-section--third">
      <div class="top-section-content">
        <h2 class="top-section-title">Join us!</h2>
        <p class="top-section-description">
          San Francisco (/sæn frənˈsɪskoʊ/), officially the City and County of San Francisco, is the cultural, commercial, and financial center of Northern California and the only consolidated city-county in California.[23] San Francisco encompasses a land area of about 46.9 square miles (121 km2)[17] on the northern end of the San Francisco Peninsula, which makes it the smallest county in the state. It has a density of about 18,451 people per square mile (7,124 people per km2), making it the most densely settled large city (population greater than 200,000) in the state of California and the second-most densely populated major city in the United States after New York City.
        </p>
      </div>
    </section>
  </main>
</body>
</html>